@model List<EmployeeManagementSystem.Models.Domain.EmployeeModel>
@{
    int counter = 1;
}
<partial name="~/Views/Shared/_Notification.cshtml" />
<div class="container">
    <div class="row">
        <div class="d-flex flex-column">

            <div class="col-md-10 mb-3">
            <div class="d-flex justify-content-between p-2 " style="background:#0075A2;">
                        <span class="fs-5 mx-2 fw-bold text-white">Employees Dashboard</span>
                     <a asp-controller="Employee" asp-area="" asp-action="Addemployee">
                <ion-icon name="person-add-outline" class="fs-5 mx-3 text-white"></ion-icon>
                 
                </a>
            </div>
            </div>
            <div class="col-md-2">
                
            <div class="input-group mb-3">
                <form class="d-flex flex-row" method="get"id="searchform">

                <input name="searchquery" type="text" class="form-control" id="searchquery" placeholder="Name" aria-label="">
                    <span onclick="submitform();" class="input-group-text bg-opacity-10"><ion-icon name="search-outline"></ion-icon></span>
                </form>
                    
            </div>
            </div>
        </div>

            <div class="col-md-10">
            @if(Model != null)
            {
                
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone no</th> 
                        <th scope="col">Adress</th> 
                        <th scope="col">Position</th>
                        <th scope="col">Department</th>
                        <th scope="col">Action</th>
                       
                    </tr>   
                </thead>
                <tbody>
                        @foreach( var data in Model)
                        {
                            
                        <tr>
                            <th scope="row">@counter</th>
                            <td>@data.Name</td>
                            <td>@data.Email</td>
                            <td>@data.PhoneNumber</td>
                            <td>@data.Address</td>
                            <td>@data.Position</td>
                            <td>Department</td>
                            
                            <td class="d-flex flex-row align-items-center justify-content-between">
                                <a href="#" onclick="submitDelete(@data.Id);" class="bg-danger p-1 text-light rounded ">
                                    
                                        <ion-icon name="trash-outline"></ion-icon>
                                </a>
                                <a href="/Employee/Update/@data.Id" class="bg-success p-1 text-light rounded">
                                        <ion-icon name="create-outline"></ion-icon>
                                </a>
                                    <a href="#x" class="bg-primary p-1 text-light rounded">
                                        <ion-icon name="person-circle-outline"></ion-icon>
                                </a>
                            </td>
                        </tr>
                        counter++;
                        }
                   
                </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    No data found.
                </div>
            }
            </div>
           
       
    </div>
</div>

 <script>
     function submitDelete(id) {
         var confirmDelete = confirm("Are you sure?")
         if (confirmDelete) {
             window.location.href = "/Employee/Delete?id="+id
         }
     }
     function submitform() {
         var searchquery = document.getElementById("searchquery").value;
         var form = document.getElementById("searchform");
         if (searchquery === '') {
             event.preventDefault();
         }
         else {
             form.submit();
         }
     }
</script>